name: lumens

services:
  db:
    image: postgres:18.1-alpine
    env_file: ".env"
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db-init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 1s
      timeout: 5s
      retries: 10

volumes:
  postgres_data:
