@import 'tailwindcss';

:root {
	--lu-main-950: oklch(0.1985 0.0041 286);
	--lu-main-900: oklch(0.2011 0.0049 286);
	--lu-main-800: oklch(0.2448 0.0056 286);
	--lu-main-750: oklch(0.2663 0.0053 286);
	--lu-main-700: oklch(0.2744 0.0073 286);
	--lu-main-600: oklch(0.3317 0.0122 286);
	--lu-main-500: oklch(0.4604 0.0161 286);
	--lu-main-400: oklch(0.5975 0.0196 286);
	--lu-main-300: oklch(0.7536 0.0128 286);
	--lu-main-200: oklch(0.9197 0.004 286);
	--lu-main-100: oklch(0.9851 0 286);

	--lu-accent-50: oklch(0.95 0.2079 14.83);
	--lu-accent-100: oklch(0.6241 0.2079 14.83);

	--lu-selection-fg: oklch(0.9197 0.004 286);
	--lu-selection-bg: oklch(0.6241 0.2079 14.83 / 0.25);
}

.light {
}

* {
	caret-color: var(--lu-accent-100);
}

@theme {
	--font-inter: 'Inter Variable', sans-serif;
	--font-crimson: 'Crimson Pro', serif;

	--color-lu-main-950: var(--lu-main-950);
	--color-lu-main-900: var(--lu-main-900);
	--color-lu-main-800: var(--lu-main-800);
	--color-lu-main-750: var(--lu-main-750);
	--color-lu-main-700: var(--lu-main-700);
	--color-lu-main-600: var(--lu-main-600);
	--color-lu-main-500: var(--lu-main-500);
	--color-lu-main-400: var(--lu-main-400);
	--color-lu-main-300: var(--lu-main-300);
	--color-lu-main-200: var(--lu-main-200);
	--color-lu-main-100: var(--lu-main-100);

	--color-lu-accent-50: var(--lu-accent-50);
	--color-lu-accent-100: var(--lu-accent-100);

	--font-weight-lu-medium: 440;
	--font-weight-lu-medium-lg: 465;
	--font-weight-lu-semibold: 520;

	--radius-max-lg: 0.625rem;

	--default-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
	--transition-quint: cubic-bezier(0.86, 0, 0.14, 1);

	--inset-shadow-error: inset 0px 0px 0px 999px rgba(255, 100, 103, 0.15);
	--shadow-border: 0px 0px 0px 0.75px rgba(0, 0, 0, 0.5);
}

html,
body {
	color: var(--color-lu-main-100);
	background-color: var(--color-lu-main-900);
	font-family: var(--font-inter);
	letter-spacing: -0.02em;
}

.transition-lu-colors {
	transition-property:
		color, background-color, border-color, outline-color, text-decoration-color, fill, stroke,
		--tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
	transition-timing-function: var(--default-transition-timing-function);
	transition-duration: 50ms;
	transition-delay: 25ms;
}

.tiptap p.is-editor-empty:first-child::before {
	color: var(--color-lu-main-500);
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

.tiptap:focus {
	outline: 0px;
}

::-moz-selection {
	color: var(--lu-selection-fg);
	background: var(--lu-selection-bg);
}

::selection {
	color: var(--lu-selection-fg);
	background: var(--lu-selection-bg);
}

.mask-intro {
	--mask-size: 0%;
	mask-image: radial-gradient(
		ellipse var(--mask-size) var(--mask-size) at 50% 50%,
		#000000 0%,
		transparent 100%
	);
}

.lumen-message {
	a {
		color: var(--color-sky-300);
		text-decoration: underline;
	}
}

.mask-scroll {
	mask-image: linear-gradient(
		180deg,
		#161618 10%,
		rgba(22, 22, 24, 0.85) 35%,
		rgba(22, 22, 24, 0.75) 50%,
		rgba(22, 22, 24, 0.5) 75%,
		rgba(22, 22, 24, 0) 100%
	);
}

.liquid-glass {
	background: rgba(228, 228, 231, 0.08);
	border: 0.5px solid rgba(228, 228, 231, 0.12);
	box-shadow: inset 0px 0px 2px rgba(228, 228, 231, 0.25);
	backdrop-filter: blur(4px);
}
